<h1>Add New Friend</h1>
<br>


<!-- add new friend is pooling a partial by render form that located in _form-->
<%= render 'form', friend: @friend %>

<br>
<%= link_to 'Back', friends_path, class:"btn, btn-secondary" %>
